html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.application-item{
    width: 100px;
    display:inline-block;
}

    .application-container:hover > .application-edit {
        display: inline-block;
    }

.application-edit{
    background-color: hsl(211, 100%, 47%);
    padding: 0.2em 1em;
    color:white;
    border-radius: 5px;
    cursor:pointer;
}
.application-edit{
    display:none;
}

.table-row:hover{
    background-color: hsl(0, 0%, 70%)
}

.completed{
    background-color: hsl(0, 0%, 45%);

}