

<div>
    <h2>No Application?</h2>
    <p>If no applications are visible implement IhttpMethods and call the AddError APi method. The application will register when an error first occurs.</p>
</div>