@using BugTrackerUI.Models
@using BugTrackerUICore.Models
@using static System.Net.WebRequestMethods

@model IEnumerable<ApplicationViewModel>

<div class="dropdown-container">

    <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
        </a>
        
        <div id="applicationDropdown" class="dropdown-menu row" aria-labelledby="dropdownMenuLink">
            @if(Model.Count() == 0)
            {
                <a id="addApplicationDropdown" class="dropdown-item col-10" href="">Add</a>
                <!--<input id="applicationInput" hidden/>-->
            }

            @foreach (var item in Model)
            {
                /**

                */
                <a class="dropdown-item application-container col-8" href="@Url.ActionLink("ErrorContainer", "Error", new{applicationId = item.ApplicationId})">
                    <p id="applicationId" hidden value=@item.ApplicationId></p>
                    <p class="application-item">@item.ApplicationName</p>
                    <span id="application-edit" class="application-edit">Edit</span>
                </a>
                <!--<button id="applicationEdit" class="application-edit btn-light col-4">Edit</button>-->

            }
            <a id="addApplicationDropdown" class="dropdown-item col-10">Add</a>
            <!--<input id="applicationInput" hidden/>-->
        </div>
    </div>
        
    
</div>
